<a href="https://colab.research.google.com/github/erick-huang15/Food-Sales-Predictions/blob/main/Food_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
from google.colab import drive # this is to mount the google drive to this workbook 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
import pandas as pd # this is to import all the libraries
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

data_path = '/content/drive/MyDrive/CD: Project 1/sales_predictions.csv' # this is to link the file from google drive
food_sp_data = pd.read_csv(data_path) # this is to tread the csv file
food_sp_data.head() # this is to show the first 5 rows on the data

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

#### How many rows and columns? 8,523 rows and 12 columns

In [49]:
food_sp_data.shape # this is to get the number of rows and column

(8523, 12)

In [27]:
num_col = len(food_sp_data.columns) # this is to get the number of columns and store it in num_col
num_col

12

In [28]:
num_row = len(food_sp_data) # this is to get the number of rows and store it in num_row
num_row

8523

#### What are the datatypes of each variable? Object, Int and Float

In [29]:
datatype = food_sp_data.dtypes # this is to check the datatypes and store it in a variable
datatype # show the datatype that is stored in datatype variable

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

####Are there any duplicates? If so, drop any duplicates? No, there are no duplicates

In [30]:
food_sp_data.duplicated().sum() # this is to check the duplicate data in the dataset

0

#### Identify missing values? Item_Weight and Outlet_Size both columns have missing values

In [17]:
null_values = food_sp_data.isna().sum() # this is to identify missing value
null_values

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

####  Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice). The missing values are weight which will be addressed by imputing the average of the column. The missing values in outlet_size will be filled with the most frequent entry based on the traffic of the visitors visiting a particular outlet.

In [59]:
food_sp_data['Item_Weight'].fillna(value=food_sp_data['Item_Weight'].mean(),inplace=True) # this it to replace the missing values with mean

In [64]:
from sklearn.impute import SimpleImputer # this is to import SimpleImputer 
imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent') # this is to store the function in a variable
imputer = imputer.fit(food_sp_data[['Outlet_Size']]) # this is to impute the most frequent entry that can be found in outlet size
food_sp_data['Outlet_Size'] = imputer.transform(food_sp_data[['Outlet_Size']])

 #### Confirm that there are no missing values after addressing them.

In [71]:
food_sp_data.isna().sum() # this is to check and confirm there are no more missing values

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

##### Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

In [72]:
for col in food_sp_data: # this loop is to loop through the dataset in order to investigate, find and fix inconsistent categories of data
  print(col)
  print(food_sp_data[col].value_counts(dropna=False))
  print("\n\n")

Item_Identifier
FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64



Item_Weight
12.857645    1463
12.150000      86
17.600000      82
13.650000      77
11.800000      76
             ...
7.275000        2
7.685000        1
9.420000        1
6.520000        1
5.400000        1
Name: Item_Weight, Length: 416, dtype: int64



Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64



Item_Visibility
0.000000    526
0.076975      3
0.162462      2
0.076841      2
0.073562      2
           ...
0.013957      1
0.110460      1
0.124646      1
0.054142      1
0.044878      1
Name: Item_Visibility, Length: 7880, dtype: int64



Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64



Item_MRP
172.0422    7
170.5422    6
196.5084    6
188.1872    6
142.0154    6
           ..
97.3384     1
83.1934     1
96.6752     1
152.6682    1
75.4670     1
Name: Item_MRP, Length: 5938, dtype: int64



Outlet_Identifier
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64



Outlet_Establishment_Year
1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64



Outlet_Size
Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64



Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64



Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64



Item_Outlet_Sales
958.7520     17
1342.2528    16
703.0848     15
1845.5976    15
1278.3360    14
             ..
4124.6310     1
6622.7126     1
1614.5650     1
5602.7070     1
2778.3834     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

In [91]:
replace_fc = {'LF':'Low Fat', 'low fat':'Low Fat', 'reg':'Regular'} #fix the data in Item_Fat_Content #LF, reg, low fat
food_sp_data['Item_Fat_Content'] = food_sp_data['Item_Fat_Content'].replace(replace_fc)

#### For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [92]:
food_sp_data.describe() # this is to get the statistics of min, max, mean

       Item_Weight  ...  Item_Outlet_Sales
count  8523.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.226124  ...        1706.499616
min       4.555000  ...          33.290000
25%       9.310000  ...         834.247400
50%      12.857645  ...        1794.331000
75%      16.000000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]